<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/users_style.css"/>
    <title>edit user</title>
</head>
<body>
<form th:action="@{/edit/{id}(id=${user.id})}" th:method="PATCH" th:object="${user}">
    <input type="hidden" th:field="*{id}" th:value="*{id}"/>
    <label for="name">Name</label>
    <input type="text"  th:field="*{name}" id="name" th:value="*{name}">
    <label for="lastname">Lastname</label>
    <input type="text" th:field="*{lastname} "id="lastname" th:value="*{lastname}" >
    <label for="age">Age</label>
    <input type="text" th:field="*{age}" id="age" th:value="${user.age}">
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" th:value="${user.email}">
    <label for="roles" >Role</label>
<!--    <input type="checkbox" id="roles" name="roles"-->
<!--        th:each="roles : ${allroles}"-->
<!--                th:text="${roles.getRolename()}"-->
<!--                th:value="${roles}"-->
<!--                th:field="*{roles}" />-->

    <th:block th:each="role: ${allroles}">
        <input id="roles" type="checkbox" th:field="*{roles}"
               th:text="${role.rolename}" th:value="${role.id}" />
    </th:block>

<!--    <input type="text" th:field="*{roles}" id="roles" th:value="${user.roles}">-->
    <input type="submit" value="update user">
</form>
</body>
</html>